In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("REG2022_2023-dataset.csv", sep=";", on_bad_lines='skip', low_memory=False)

In [3]:
engine = create_engine("postgresql+psycopg2://lucafivan:011005@localhost:5432/project_marketing")

In [4]:
df.to_sql("reg2022_2023", engine, if_exists='replace', index=False)

70

In [5]:
print(df.head())

   idregistrantdata  groupreg  regtype  iddataregkhusustype  isregtypechanged  \
0            225986         1        1                    0                 0
1            278895         1        4                    0                 0
2            293910         1        3                    0                 0
3            293941         1        1                    0                 0
4            293942         1        1                    0                 0

   oldregtype  regtypechangeby  regtypechangedate  regtypechangehour  \
0           0                0                NaN                NaN
1           0                0                NaN                NaN
2           0                0                NaN                NaN
3           0                0                NaN                NaN
4           0                0                NaN                NaN

   is_onlinetest  ...  cicilan_terms4due  cicilan_terms5amount  \
0              0  ...                NaN                   NaN
1              0  ...                NaN                   NaN
2              0  ...                  a             3000000.0
3              0  ...                NaN                   NaN
4              0  ...                NaN                   NaN

   cicilan_terms5due cicilan_terms6amount cicilan_terms6due  \
0                NaN                  NaN               NaN
1                NaN                  NaN               NaN
2                  a            3000000.0                 a
3                NaN                  NaN               NaN
4                NaN                  NaN               NaN

  cicilan_terms7amount  cicilan_terms7due  cicilan_terms8amount  \
0                  NaN                NaN                   NaN
1                  NaN                NaN                   NaN
2            3000000.0                  a             2600000.0
3                  NaN                NaN                   NaN
4                  NaN                NaN                   NaN

   cicilan_terms8due  idregbranddata
0                NaN               0
1                NaN               0
2                  a               0
3                NaN               0
4                NaN               0

[5 rows x 287 columns]

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40185 entries, 0 to 40184
Columns: 287 entries, idregistrantdata to idregbranddata
dtypes: float64(63), int64(130), object(94)
memory usage: 88.0+ MB
None

In [8]:
df1 = pd.read_csv("REG2023_2024-dataset.csv", sep=";", on_bad_lines='skip', low_memory=False)

In [9]:
engine = create_engine("postgresql+psycopg2://lucafivan:011005@localhost:5432/project_marketing")

In [12]:
df1.to_sql("reg2023_2024", engine, if_exists='replace', index=False)

71

In [13]:
print(df1.head())

   idregistrantdata  groupreg  regtype  iddataregkhusustype  isregtypechanged  \
0            319035         1        3                    0                 0
1            326171         1        3                    0                 0
2            326317         1        3                    0                 0
3            350466         1        3                    0                 0
4            350467         1        3                    0                 0

   oldregtype  regtypechangeby  regtypechangedate  regtypechangehour  \
0           0                0                NaN                NaN
1           0                0                NaN                NaN
2           0                0                NaN                NaN
3           0                0                NaN                NaN
4           0                0                NaN                NaN

   is_onlinetest  ...  cicilan_terms4due  cicilan_terms5amount  \
0              0  ...          25-Dec-22            24600000.0
1              0  ...          25-Dec-22             3000000.0
2              0  ...          25-Dec-22             3000000.0
3              0  ...          15-Aug-22            24600000.0
4              0  ...          25-Dec-22            24600000.0

   cicilan_terms5due cicilan_terms6amount cicilan_terms6due  \
0          25-Jan-23           24600000.0         25-Feb-23
1          25-Jan-23            3000000.0         25-Feb-23
2          25-Jan-23            3000000.0         25-Feb-23
3          15-Sep-22           24600000.0         15-Oct-22
4          25-Jan-23           24600000.0         25-Feb-23

  cicilan_terms7amount  cicilan_terms7due  cicilan_terms8amount  \
0            3000000.0          25-Mar-23             2600000.0
1            3000000.0          25-Mar-23             1000000.0
2            3000000.0          25-Mar-23             1000000.0
3            3000000.0          15-Nov-22             2600000.0
4            3000000.0          25-Mar-23             2600000.0

   cicilan_terms8due  idregbranddata
0          25-Apr-23               0
1          25-Apr-23               0
2          25-Apr-23               0
3          15-Dec-22               0
4          25-Apr-23               0

[5 rows x 287 columns]